# Kickstart file for Rocky Linux 9

# Use text mode install
text
# Use CDROM installation media (Packer provides ISO)
cdrom
# System language
lang es_ES.UTF-8
# Keyboard layout
keyboard --vckeymap=es --xlayouts='es'
# Network information (use DHCP)
network --bootproto=dhcp --device=eth0 --onboot=yes --ipv4=auto --activate --hostname=rocky
# Root password (set to vagrant initially)
rootpw --plaintext vagrant
# System timezone
timezone UTC --isUtc
# System bootloader configuration
bootloader --location=mbr
# Clear the Master Boot Record
zerombr
# Partition clearing information
clearpart --all --initlabel
# Disk partitioning information
autopart
# System services (enable SSH)
services --enabled="sshd"
# Disable SELinux
selinux --disabled
# Reboot after installation
reboot

%packages --ignoremissing --excludedocs
@^minimal-environment
openssh-server
sudo
curl
wget
dnf
vim-minimal
open-vm-tools
%end

%post --log=/root/ks-post.log
#!/bin/bash
echo "==> Running Kickstart post-install script"
# Create vagrant user
/usr/sbin/groupadd vagrant
/usr/sbin/useradd vagrant -g vagrant -G wheel
echo "vagrant" | passwd --stdin vagrant
# Configure sudo for vagrant user
echo "%wheel ALL=(ALL) NOPASSWD:ALL" > /etc/sudoers.d/vagrant
chmod 0440 /etc/sudoers.d/vagrant

# Install Vagrant SSH key
mkdir -p /home/vagrant/.ssh
chmod 0700 /home/vagrant/.ssh
curl -fsSL 'https://raw.githubusercontent.com/hashicorp/vagrant/main/keys/vagrant.pub' -o /home/vagrant/.ssh/authorized_keys
chmod 0600 /home/vagrant/.ssh/authorized_keys
chown -R vagrant:vagrant /home/vagrant/.ssh

# Disable SELinux
setenforce 0
sed -i 's/^SELINUX=.*/SELINUX=disabled/' /etc/selinux/config

echo "==> Kickstart post-install finished"
%end
